@if (auth.isLoggedIn()) {
  <nav class="navbar">
    <div class="navbar-brand" routerLink="/">
      <span class="brand-title">HANKS+</span>
      <span class="brand-subtitle">Sua assinatura, seu papel na história</span>
    </div>
    <div class="navbar-links">
      <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Planos</a>
      <a routerLink="/catalogo" routerLinkActive="active">Catálogo</a>
      <a *hasPermission="'listar:favoritos'" routerLink="/favoritos" routerLinkActive="active">Favoritos</a>
      <a *hasPermission="'listar:comentarios'" routerLink="/comentarios" routerLinkActive="active">Comentários</a>
    </div>
    <div class="navbar-user">
      <div class="user-badge-container">
        <span class="user-name">{{ auth.user()?.nome }}</span>
        <span class="user-role-badge" [ngClass]="roleBadge.class"><i></i>{{ roleBadge.name }}</span>
      </div>
      <button class="btn-logout" (click)="logout()">Sair</button>
    </div>
  </nav>
}
