DATABASE_URL=mysql+pymysql://usuario:senha@host:3306/nome_do_banco
SECRET_KEY=chave_secreta_jwt_longa
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
PORT=8001

# Configurações do Mailtrap (SMTP Sandbox)
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=seu_usuario_mailtrap
MAILTRAP_PASSWORD=sua_senha_mailtrap
MAILTRAP_FROM_EMAIL=nao-responda@tomhanksfilmes.com
MAILTRAP_FROM_NAME=Tom Hanks Filmes

# URL pública do catálogo (onde o usuário acessa o frontend para redefinir a senha)
CATALOGO_URL=http://localhost:8000
RESET_TOKEN_EXPIRE_MINUTES=30
